body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    background: white;
    color: #5D81E1;
    text-align: center;
    padding-top: 4em;
    position: relative;
    z-index: -1;
}

h1 {
    font-size: 4em;
}

.video {
    max-width: 60%;
    padding-top: 3em;
    display: block;
    margin: auto;
}