
html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #89371a;
  background-image:
    linear-gradient(to right, #f6ede7 1px, transparent 1px),
    linear-gradient(to bottom, #f6ede7 1px, transparent 1px);
  background-size: 200px 240px;
}

.logo {
  transform: scale(0.1);
  height: 200px;
  margin-top: -70px;
  margin-bottom: -35px;
  margin-left: -70px; 
}
.logo:hover {
  transform: scale(0.105);
  transition: transform 0.3s ease;
}

nav > ul {
  list-style: none;
  padding: 0.5rem;
}

header {
  display: grid; 
  grid-template-columns: 900px;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

#navbar {
  display: flex;  
}

.nav-link {
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 100px;
  width: 180px;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  color: #89371a;
}

.anim:hover {
  background-color: #397ec380;
  width: 180px;
  color: #fffffa;
}
.design:hover {
  background-color: #3960c380;
  width: 180px;
  color: #fffffa;
}

.illust:hover {
  background-color: #2920d280;
  width: 180px;
  color: #fffffa;
}
.abtme:hover {
  background-color: #575ed980;
  width: 180px;
  color: #fffffa;
}


/* landing page */
#landing {
  font-size: 40px;
  padding: 35px;
  text-align: left;
  margin: 40px 200px;
  border-radius: 40px;
}
.h2 {
  font-size: 25px;
  margin-top: -15px;
  margin-bottom: -20px;
  color: #505ce3;
}
.text {
  font-size: 20px;
  margin-top: 10px;
  line-height: 40px;
}
.chat {
  color: #74a7e1;
  text-decoration: none;
}
.splash {
  margin-top: -550px;
  margin-bottom: -240px;
  margin-left: 19vw;
  z-index: -1;
  filter: saturate(125%);
  position: relative;
  opacity:0;
}

/* for animation page */
.animh1 {
  font-size: 40px;
  padding: 35px;
  text-align: center;
}
.video {
  max-width: 60%;
  display: block;
  margin: auto;
  margin-bottom: -150px;
}

/*illustdes gallery page*/
.gallery {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 1fr;
  gap: 1.2em;
  grid-template-areas:
  "box-1 box-1 box-1" 
  "box-2 box-3 box-4"
  "box-5 box-6 box-6"
  "box-7 box-7 box-7"
  "box-8 box-9 box-10"
  "box-11 box-12 box-13"
  "box-14 box-12 box-16"
  "box-15 box-15 box-15";
  max-width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 100px; 
}

.item {
  object-fit: overflow;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 65em) {
  .gallery {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr;
    gap: 1em;
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-4"
      "box-5 box-6"
      "box-7 box-7"
      "box-8 box-9"
      "box-10 box-10"
      "box-11 box-12"
      "box-13 box-13"
      "box-14 box-15"
      "box-16 box-16";
  }
}

.item img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* des gallery*/
.des-gallery {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 1fr;
  gap: 1.2em;
  grid-template-areas:
    "dbox-2 dbox-2 dbox-2"
    "dbox-1 dbox-3 dbox-3";
  max-width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
}

@media (max-width: 65em) {
  .des-gallery {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr;
    gap: 1em;
    grid-template-areas:
      "dbox-2 dbox-2"
      "dbox-1 dbox-1"
      "dbox-3 dbox-3";
  }
}

/* for abtme page */
.profileimg {
  max-width: 40%;
  height: auto;
  transform: none;
  object-fit: contain;
}
.abtmepg {
  display: flex;
  max-width: 80%;
  text-align: left;
  margin: auto;
  margin-bottom: -60px;
}
.abth1 {
  font-size: 40px;
  text-align: left;
}
.abth2 {
  font-size: 25px;
  margin-top: -5px;
  color: #505ce3;
}
.abt-text {
  font-size: 18px;
  margin-top: 35px;
  line-height: 35px;
}
.abtmetext-box {
  margin-top: 130px;
  margin-right: 100px;
  margin-bottom: 150px;
}
.skills {
  color: #505ce3;;
}
.skillslist {
  line-height: 25px;
  
}
.abtexp {
  max-width: 70%;
  margin: auto;
  margin-bottom: -150px;
  
}
.abth1-ex {
  font-size: 40px;
  text-align: left;
  max-width: 80%;
  margin-left: 100px;
  color: #505ce3;
}
.abt-extext {
  margin-left: 120px;
  line-height: 26px;
  font-size: 17px;
}
.abt-inline {
  margin-left: 45px;
}
.abt-date {
  font-style: oblique;
  font-size: 12px;
}

@media (max-width: 65em) {
  .abtmepg {
    display: block;
    max-width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -60px;
    transition: all 0.3s ease;
  }
  .abth1 {
    text-align: center;
  }
  .abtmetext-box {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .abtexp {
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: -150px;
  }
  .abth1-ex {
    font-size: 30px;
    text-align: center;
    max-width: 90%;
    margin-left: 0px;
    color: #505ce3;
  }
  .abt-extext {
    line-height: 26px;
    font-size: 17px;
    margin-right: 80px; 
  }
  .profileimg {
    max-width: 60%;
    height: auto;
    transform: none;
    object-fit: contain;
  }
}
  

/* footer */
.footer {
  font-size: 15px;
  text-align: center;
  margin-top: 200px;
  font-weight: normal;
  display: block;
  margin-bottom: 50px;
}
.ig img,
.em img {
  transform: scale(0.5);
  margin-bottom: -35px;
}
.ig img:hover,
.em img:hover {
  transform: scale(0.6);
}
.em {
  margin-left: -40px;
}
.foot-date {
  font-style: oblique;
  font-size: 10px;
}
